*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: 'SKCuriosity-Bold';
    src: url(../storage/font/SKCuriosity-Bold.ttf);
}
body{
    background: linear-gradient(to right, #565556, #0d3141);
}
.header {
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12vh;
}
.header h1{
    font-family: 'SKCuriosity-Bold';
    color: #ffdfdb;
    font-size: 120px;
}
.inputAdd__task {
    margin-top: 2rem;
    background: blue;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.inputAdd__task input{
    padding: 10px;
    font-size: 20px;
    border: none;
    min-width: 35%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #f7e2df;
    background: #181a1a;
    outline-style: none;
}
.inputAdd__task button{
    padding: 12px;
    border: none;
    font-size: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
    background: #f7e2df;
}
.time {
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.list__task {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task__article {
    background: purple;
    padding: 5px;
}
.task__information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.task__information img{
    width: 40px;
}
